{% extends "taylorgray/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'saape/css/signup.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Tayler Gray Sign up{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12" id="login_div" style="margin-top: 20px;">
        <div class="row justify-content-center" style="padding-bottom: 20px;">
            <img class="img-responsive" src="{% static 'taylorgray/images/taylorgray_logo.jpeg' %}" alt="logo" style="height: 100px; border-radius: 12px;">
        </div>
        <div class="row justify-content-center">
            {% render_ads_zone 'sidebar' 'Uptown' 'Taylor Gray' signup_url %}
        </div>
        <form id="login_form" action="{% url 'taylorgray:signup' %}" method="post">
            <br />
            <div class="form-group text-center">
                <h6> SIGN UP</h6>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" id="name" name="name"
                        placeholder="Name*" required>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" id="email" name="email"
                        placeholder="Email*" required>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" id="phone_number"
                        name="phone_number" placeholder="Mobile number*" pattern="((?:\+|00)[17](?: |\-)?|(?:\+|00)[1-9]\d{0,2}(?: |\-)?|(?:\+|00)1\-\d{3}(?: |\-)?)?(0\d|\([0-9]{3}\)|[1-9]{0,3})(?:((?: |\-)[0-9]{2}){4}|((?:[0-9]{2}){4})|((?: |\-)[0-9]{3}(?: |\-)[0-9]{4})|([0-9]{7}))"
                        required>
                    <small id="phone_number" class="form-text text-muted" style="font-weight: bolder;">Example:
                        0726791019</small>
                </div>
            </div>
            <div class="form-check text-center">
                <label class="form-check-label" style="font-weight: bold; font-size: 12px;">
                    <input type="checkbox" class="form-check-input" value="" required>
                    <a href="{{ terms_url }}" style=" color: #616161;">I accept the Terms and
                        Conditions.</a>
                </label>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-artcaffee">CONNECT</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}