{% extends "standashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'standashboard/css/impression-list.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'standashboard/js/total_impressions.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Impressions{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title" style="font-weight: bold;">Impressions Graph Stats</h4>
                    <p class="card-category" style="font-weight: bold;">Graphical representation of total impressions
                        stats</p>
                </div>
                <div class="card-body" id="div-total_impressions">
                    <svg id="total_impressions"></svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Impressions</h4>
                        <p class="card-category">Impressions for Syste Trendz Ads</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="impressions">
                            <thead class="text-black-50" style="font-weight: bold;">
                                <th scope="col">Ad Name</th>
                                <th scope="col">Impression Date</th>
                                <th scope="col">Venue</th>
                                <th scope="col">URL</th>
                            </thead>
                            <tbody>
                                {% for impression in impressions %}
                                <tr>
                                    <td>{{ impression.ad }}</td>
                                    <td>{{ impression.impression_date }}</td>
                                    <td>{{ impression.venue }}</td>
                                    <td>{{ impression.url }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#impressions').DataTable();
        });
    </script>
    {% endblock %}