{% extends "kahawa/base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Brandfi Users{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">SSID</th>
                </tr>
            </thead>
            <tbody>
                {% for user in filtered_users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.mobileNumber }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.ssid }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}