{% extends "dashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/impression-list.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Clicks{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Clicks</h4>
                        <p class="card-category">Clicks for Syste Trendz Ads</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="impressions">
                            <thead class="text-black-50" style="font-weight: bold;">
                                <th scope="col">Ad Name</th>
                                <th scope="col">Click Date</th>
                                <th scope="col">Session ID</th>
                            </thead>
                            <tbody>
                                {% for click in clicks %}
                                <tr>
                                    <td>{{ click.ad }}</td>
                                    <td>{{ click.click_date }}</td>
                                    <td>{{ click.session_id }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#clicks').DataTable();
    });
</script>
{% endblock %}