{% extends "dashboard/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/css/impression-list.css' %}" />
{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/js/ad-datetime.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Impressions</h4>
                        <p class="card-category">Impressions for Syste Trendz Ads</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="impressions-table">
                            <thead class="text-black-50">
                                <th scope="col">Ad Name</th>
                                <th scope="col">Impression Date</th>
                                <th scope="col">Session ID</th>
                                <th scope="col">Venue</th>
                                <th scope="col">URL</th>
                            </thead>
                            <tbody>
                                {% for impression in impression_list %}
                                <tr>
                                    <td>{{ impression.ad }}</td>
                                    <td>{{ impression.impression_date }}</td>
                                    <td>{{ impression.session_id }}</td>
                                    <td>{{ impression.venue }}</td>
                                    <td>{{ impression.url }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="hidden" id="title" name="title" value="{{ title }}">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Impressions</h4>
                        <p class="card-category">Graphical representation of impessions</p>
                    </div>
                    <div class="card-body" id="div-addatetime">
                        <svg id="ad-datetime"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#impressions-table').DataTable();
    });
</script>
{% endblock %}