{% extends "dashboard/base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/js/graphs.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats" id="impression-card">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <a href="{% url 'dashboard:impressions' %}"></a>
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Ad Impressions</p>
                        <h3 class="card-title" style="font-weight: bold;">
                            {{ impressions_count }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="{% url 'dashboard:impressions' %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <a href="{% url 'dashboard:impressions' %}"></a>
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Ad Clicks</p>
                        <h3 class="card-title" style="font-weight: bold;">
                            {{ click_count }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="{% url 'dashboard:clicks' %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Top venue by impressions</p>
                        <h3 class="card-title" style="font-weight: bold;">{{ venue_max }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="{% url 'dashboard:clicks' %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Today's Impressions</h4>
                        <h3 class="card-title" style="font-weight: bold;"></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated on {% now "jS F Y H:i" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Todays Clicks</h4>
                        <h3 class="card-title" style="font-weight: bold;"></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>updated on {% now "jS F Y H:i" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title" style="font-weight: bold;">Ad Stats</h4>
                        <p class="card-category" style="font-weight: bold;">Current ads for Syte trendz</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="ads-table">
                            <thead class="text-black-50">
                                <th>Ad Name</th>
                                <th>Category</th>
                                <th>Advertiser</th>
                                <th>Impressions</th>
                            </thead>
                            <tbody>
                                {% for ad in ad_list %}
                                <tr>
                                    <td><a href="{% url 'dashboard:impression-list' ad.title %}">{{ ad.title }}</a></td>
                                    <td>{{ ad.category }}</td>
                                    <td>{{ ad.advertiser }}</td>
                                    <td>{{ ad.no_of_impressions }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title" style="font-weight: bold;">Ad Graph Stats</h4>
                        <p class="card-category" style="font-weight: bold;">Graphical representation of ad stats</p>
                    </div>
                    <div class="card-body" id="div-ads" style="height: 1500px;">
                        <svg id="ads"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .bar {
            fill: green;
        }

        .axis--x path {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#ads-table').DataTable();
            $("#impression-card").click(function () {
                window.location = $(this).find("a").attr("href");
                return false;
            });
        });
    </script>
    {% endblock %}