{% extends "splashads/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'splashads/css/signup.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}Uptown Sign up{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12" id="login_div">
        <div class="row justify-content-center">
            <img class="img-responsive" src="{% static 'splashads/images/uptown_logo.png' %}" alt="logo" style="height: 100px; border-radius: 12px;">
        </div>
        <div class="row justify-content-center">
            {% render_ads_zone 'sidebar' 'Uptown' 'Uptown' signup_url %}
        </div>
        <div id="probtn_content1" class="row justify-content-center">
            <div id="probtn_additional_params" style="display: none; width: 0px; height: 0px;" style="display: none;">{"domain":"stan-network.app",
                "SelectAdSet":"5c123caf1102fc0100000002", "HideInFrame":"false", "HideInFrame":"false"}</div>
            <div id="probtn_additional_params_banner_safeframe" style="display: none; width: 0px; height: 0px;" style="display: none;">{"domain":"stan-network.app",
                "SelectAdSet":"5c123caf1102fc0100000002", "HideInFrame":"false", "HideInFrame":"false"}</div>
            <div id="probtn_additional_params_banner_iframe" style="display: none; width: 0px; height: 0px;" style="display: none;">{"domain":"stan-network.app",
                "SelectAdSet":"5c123caf1102fc0100000002", "HideInFrame":"false", "HideInFrame":"false"}</div>
            <div id="probtn_dsp_params" style="display: none; width: 0px; height: 0px;" style="display: none;">
                {"publishers":"skan_network_publishers","campaign_id":"5c123caf1102fc0100000002"} </div>
        </div>
        <script type="text/javascript" charset="utf-8" src="https://cdn.probtn.com/probtn_double_loader_with_params_concat.js"></script>
        <form id="login_form" action="{% url 'splashads:signup' %}" method="post">
            <br />
            <div class="form-group text-center">
                <h6> SIGN UP</h6>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" id="name" name="name"
                        placeholder="Name*" required>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" id="email" name="email"
                        placeholder="Email*" required>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3">
                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" id="phone_number"
                        name="phone_number" placeholder="Mobile number*" pattern="((?:\+|00)[17](?: |\-)?|(?:\+|00)[1-9]\d{0,2}(?: |\-)?|(?:\+|00)1\-\d{3}(?: |\-)?)?(0\d|\([0-9]{3}\)|[1-9]{0,3})(?:((?: |\-)[0-9]{2}){4}|((?:[0-9]{2}){4})|((?: |\-)[0-9]{3}(?: |\-)[0-9]{4})|([0-9]{7}))"
                        required>
                    <small id="phone_number" class="form-text text-muted" style="font-weight: bolder;">Example:
                        0726791019</small>
                </div>
            </div>
            <div class="form-check text-center">
                <label class="form-check-label" style="font-weight: bold; font-size: 12px;">
                    <input type="checkbox" class="form-check-input" value="" required>
                    <a href="{{ terms_url }}" style=" color: #616161;">I accept the Terms and
                        Conditions.</a>
                </label>
            </div>
            <br />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-artcaffee">CONNECT</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}