{% extends "scotchies/base.html" %}
{% load static %}
{% load ads_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'scotchies/css/verify.css' %}" />
{% endblock %}

{% block scripts %}

{% endblock %}

{% block title %}scotchies Submit{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="row justify-content-center" style="margin-top: 20px; margin-bottom: 20px;">
            <img class="img-responsive" src="{% static 'scotchies/images/scotchies.jpg' %}" alt="logo" style="height: 100px; border-radius: 12px;">
        </div>
            <form name="sendin" id="form3" action="{{ l_url }}" method="post">
                            <input type="hidden" id="uname" name="username" value="{{ username }}"/>
                            <input type="hidden" id="l_url" name="l_url" value="{{ l_url }}"/>
                            <input type="hidden" id="g_token" name="password" value="{{ password }}" />
                            <input type="hidden" name="dst" value="{{ dst }}" />
                            <input type="hidden" name="popup" value="true" />
            </form>
        </div>
       
        
    </div>
    <div class="col-sm-4"></div>
</div>
{% if username %}
<script type="text/javascript">
  var uname = $('#uname').val();
  var g_token = $('#g_token').val();
  var l_url = $('#l_url').val();
  console.log(uname);
  console.log(g_token);
  console.log(l_url);
  $("#form3").submit();
</script>
{% endif %}

{% endblock %}